.nav-header {
    height: 3rem;
    text-align: center;
    top: 0;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.9), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.27);
    font-family: 'Lobster', cursive;
}

nav.nav-header label {
    font-size: 16pt;
    padding-right: 0.5em;
}
nav.nav-header input {
    border-radius: 0.3rem;
    background-color: beige;
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    margin: 0.2em;
    padding-left: 0.2em;
}